# Compiled files
*.class
target/

# IDE files
.idea/
.vscode/
.smarttomcat/
*.iml
*.iws
*.ipr
.mvn/
mvnw
mvnw.cmd

# Logs
*.log
hs_err_pid*.log
replay_pid*.log

# OS files
.DS_Store
Thumbs.db

# Nested local copy
memory-game/
